body{

    font-size : 20px;
    

}

.section-vertical{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-content : center;
    text-align : center;
}

.navbar {

  border : none;

}

.navbar-brand {

    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color:white!important;

}

#particle-js{
    height: 100vh;
    width: 100%;
    background: #3B5998;
}

header{
    height: 100vh;
    width : 100%;
    position: absolute;
    top : 0px;
    background : transparent;
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content : center;
    text-align : center;
}

header h1 {
    color : #F9F6F3 !important;
    font-size: 500%;
    margin-bottom: 0px;
}

header p{
    color: white !important;
    /*font-family: 'Pangolin', cursive;*/
    font-size : 165%;
    margin-top: 0px;

}
header a{
    text-decoration : none;
}

header .btn {
    margin-top: 50px;
    font-size : 120%;
    color : white;
    padding : 10px 20px 10px 20px;
    border: solid white;
    text-transform: uppercase;
    transition : 1s;
}



.btn:hover {

    color : gray;
    border: solid gray;

}

.section-heading {

     margin-top: 80px;

}

.services-container{

  margin-bottom : 50px;

}
.services-header,
.portfolio-header {

    margin-bottom : 80px;

}

.services-header h1, {

    font-family: 'Ubuntu', sans-serif;


}

.services {

    background:  #f3f9fe;
    background-image: url(../img/services.png);
    /*F3FAB6*/
}

.services .img-responsive {

    height: 100px;
    margin-bottom: 20px;
}
.service {

    margin-bottom : 30px;

}

#about-me{
    background: url(../img/about-me.png);
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
}

#about-me h1{
    margin-bottom: 30px;
}
#about-me h1,
#about-me p{
    font-family: 'Raleway', sans-serif;    
    color: white;
}

#about-me .fa{
    font-size:35px;
    color:white;
    margin: 10px;
}
#about-me .social{
    margin-bottom: 40px;
}

#portfolio{
    background: url(../img/portfolio.png);
    background-color: #F6F6F6;
    padding-bottom: 50px;
}

#portfolio img{
    height: 500px;
    width: 70%;
}

#portfolio a{
    text-decoration: none;
    color: black;
}

#portfolio a p{
    margin-top: 30px;
}

footer{
    height: 50px;
    background-color: black;
    color:white;
}


@media screen and (max-width : 768px) {

    .service {

        margin-bottom : 50px;

    }
    footer p {
        font-size: 15px;
    }


}

@media screen and (min-width : 769px) {


    .service {

        margin-bottom : 50px;

    }

    .navbar-custom {

        height: 80px;
        background: transparent !important;

    }

    nav a {

        background: transparent !important;

    }

    .navbar-custom .navbar-brand{

        margin-top : 20px;
        font-size : 30px;
        padding : 10px;
        transition: all ease .5s;

    }

    .navbar-custom .nav {

        margin-top : 15px;

    }

    .navbar-fade {

        height: 50px;
        background: black;
    }

    .navbar-fade .navbar-brand {


    }



}

@media screen and (max-width : 768px){

    .navbar{

        opacity: 1;

    }

    header h1{
        font-size: 300%;
    }

    #about-me p{
        font-size: 80%;
    }

}
