.grid{
    margin-top: 8%;
    padding: 10px 10px 10px 10px;
    background: transparent;
    width: 60%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 10px 10px 10px; */
}

h1{
    color: black !important;
}
footer{
    margin-top: 30px;
    color: black;
}

#question{
    margin-bottom: 30px;
}
h1{
    font-size: 40px;
}
.btn{
    background-color: transparent;
    color: black;
    border: 2px solid white !important;
    transition-duration: 0.4s;
}

.btn:hover {
    color: white;
    background-color: gray;
}